<div class="container mt-5">
    <span></span>
    <mat-card>
        <mat-card-header class="mb-2" >Change Password</mat-card-header>
     <form [formGroup]="resetPassword" (ngSubmit)="onResetPassword()">
        <mat-form-field appearance="outline" class="mt-2">
            <input matInput placeholder="Enter Password" formControlName="password">
            <mat-error *ngIf="resetPassword.controls.password.hasError('required')">Password is required</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Enter Confirm Password" (blur)="onPasswordCheck()"  formControlName="confirmpassword">
            <mat-error *ngIf="resetPassword.controls.confirmpassword.hasError('required')">Confirm password is required</mat-error>
        </mat-form-field><br>
        <button class="btn btn-primary submit-btn" type="submit" [disabled]="disableButton ||   resetPassword.invalid ">Change Password</button>
    </form>
        <mat-card-actions></mat-card-actions>
    </mat-card>
</div>
