.container{
    display: flex;
    justify-content: center;
}
mat-card{
    width: fit-content;
    padding: 33px 54px 28px 54px;
}
mat-card-header{
    font-weight: 500;
}
.submit-btn{
    width: -webkit-fill-available;
    background: #fff;
    color: #007bff;
    border-color: #dad0d0;
}