/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 0px #eaeaef;
  border-radius: 15px;
  background: #e3e6ed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 15px;
  max-height: 15px;
  border: 2px solid #e3e6ed;
  box-shadow: 2px 2px 2px #e3e6ed;
}
h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}